MONGO_URI=mongodb+srv://usuarioCoBien:passwordCoBien@clustercobienevents.j8ev5.mongodb.net/?retryWrites=true&w=majority&tlsAllowInvalidCertificates=true
OWM_API_KEY=6128e2f97c533ad711be849699cb4d47
NEWS_API_KEY=
SPOONACULAR_API_KEY=
COBIEN_MQTT_LOCAL_BROKER=localhost
COBIEN_MQTT_BACKEND_BROKER=broker.hivemq.com
