MONGO_URI=mongodb+srv://<mongo-user>:<mongo-password>@<mongo-host>/?retryWrites=true&w=majority
OWM_API_KEY=<openweather-api-key>
NEWS_API_KEY=
SPOONACULAR_API_KEY=
COBIEN_MQTT_LOCAL_BROKER=localhost
COBIEN_MQTT_LOCAL_PORT=1883
COBIEN_MQTT_BACKEND_BROKER=broker.hivemq.com
COBIEN_BACKEND_BASE_URL=http://portal.co-bien.eu
COBIEN_PIZARRA_API_URL=http://portal.co-bien.eu/pizarra/api/messages/
COBIEN_PIZARRA_DELETE_URL_TEMPLATE=http://portal.co-bien.eu/pizarra/api/messages/{post_id}/delete/
COBIEN_NOTIFY_API_KEY=
COBIEN_TTS_RATE=155
COBIEN_TTS_VOLUME=0.85
COBIEN_DISABLE_SYSTEM_SLEEP=0
