COBIEN_FRONTEND_REPO=$HOME/cobien/cobien_FrontEnd
COBIEN_MQTT_REPO=$HOME/cobien/cobien_MQTT_Dictionnary
COBIEN_WORKSPACE_ROOT=$HOME/cobien
COBIEN_UPDATE_REMOTE=origin
COBIEN_UPDATE_BRANCH=development_fix
COBIEN_UPDATE_INTERVAL_SEC=60
COBIEN_VENV_ACTIVATE=$HOME/cobien/cobien_FrontEnd/app/.venv/bin/activate
COBIEN_UV_BIN=$HOME/.local/bin/uv
COBIEN_UV_PYTHON=3.11
COBIEN_FRONTEND_APP_DIR=$HOME/cobien/cobien_FrontEnd/app
COBIEN_HARDWARE_MODE=auto
COBIEN_TTS_ENGINE=pyttsx3
COBIEN_TTS_PIPER_BIN=
COBIEN_TTS_PIPER_MODEL_ES=
COBIEN_TTS_PIPER_MODEL_FR=
COBIEN_TTS_PIPER_MODEL_ES_URL=
COBIEN_TTS_PIPER_MODEL_FR_URL=
COBIEN_TTS_PIPER_VOICE_ES=male
COBIEN_TTS_PIPER_VOICE_FR=male
COBIEN_SETTINGS_PIN=1234
