COBIEN_FRONTEND_REPO=$HOME/cobien/cobien_FrontEnd
COBIEN_MQTT_REPO=$HOME/cobien/cobien_MQTT_Dictionnary
COBIEN_WORKSPACE_ROOT=$HOME/cobien
COBIEN_UPDATE_REMOTE=origin
COBIEN_UPDATE_BRANCH=master
COBIEN_UPDATE_INTERVAL_SEC=60
COBIEN_APP_LANGUAGE=es
COBIEN_DEVICE_ID=CoBien1
COBIEN_VIDEOCALL_ROOM=CoBien1
COBIEN_DEVICE_LOCATION=Bilbao
COBIEN_VENV_ACTIVATE=$HOME/cobien/cobien_FrontEnd/app/.venv/bin/activate
COBIEN_UV_BIN=$HOME/.local/bin/uv
COBIEN_BOOTSTRAP_PYTHON_VERSION=3.13
COBIEN_FRONTEND_APP_DIR=$HOME/cobien/cobien_FrontEnd/app
COBIEN_HARDWARE_MODE=auto
COBIEN_TTS_ENGINE=pyttsx3
COBIEN_TTS_PIPER_BIN=
COBIEN_TTS_PIPER_MODEL_ES=
COBIEN_TTS_PIPER_MODEL_FR=
COBIEN_TTS_PIPER_MODEL_ES_MALE=
COBIEN_TTS_PIPER_MODEL_ES_FEMALE=
COBIEN_TTS_PIPER_MODEL_FR_MALE=
COBIEN_TTS_PIPER_MODEL_FR_FEMALE=
COBIEN_TTS_PIPER_MODEL_ES_URL=
COBIEN_TTS_PIPER_MODEL_FR_URL=
COBIEN_TTS_PIPER_MODEL_ES_MALE_URL=
COBIEN_TTS_PIPER_MODEL_ES_FEMALE_URL=
COBIEN_TTS_PIPER_MODEL_FR_MALE_URL=
COBIEN_TTS_PIPER_MODEL_FR_FEMALE_URL=
COBIEN_TTS_PIPER_VOICE_ES=male
COBIEN_TTS_PIPER_VOICE_FR=male
COBIEN_SETTINGS_PIN=1234
COBIEN_INSTALL_SYSTEMD_USER=0
COBIEN_INSTALL_CRON=0
COBIEN_CRON_SCHEDULE=0 1 * * *
COBIEN_ENABLE_WATCH=1
COBIEN_RECREATE_VENV=0
COBIEN_INSTALL_SYSTEM_DEPS=1
COBIEN_TTS_PIPER_PROVIDER=
COBIEN_TTS_PIPER_VERSION=
COBIEN_NON_INTERACTIVE=0
COBIEN_AUTO_CONFIRM=0
