COBIEN_FRONTEND_REPO=/home/ubuntu/cobien/cobien_FrontEnd
COBIEN_MQTT_REPO=/home/ubuntu/cobien/cobien_MQTT_Dictionnary
COBIEN_WORKSPACE_ROOT=/home/ubuntu/cobien
COBIEN_LAUNCH_SCRIPT=/home/ubuntu/cobien/cobien_FrontEnd/CoBienICAM-main/frontend-mueble/start_cobien.sh
COBIEN_UPDATE_REMOTE=origin
COBIEN_UPDATE_BRANCH=development_fix
COBIEN_UPDATE_INTERVAL_SEC=60
COBIEN_VENV_ACTIVATE=/home/ubuntu/cobien/cobien_FrontEnd/.venv/bin/activate
